<%div_for autor do%>
 <table> 
    <tr> <td width=150, align=left>ID </td> <td><%= @autor.id %></td> </tr>
    <tr> <td width=150, align=left>Nombre </td> <td><%= @autor.nombre %></td> </tr>
    <tr> <td width=150, align=left>Fecha </td> <td><%= @autor.fecha %></td> </tr>
 </table>
<% end %>

