  <div id="banner">
  	<%= image_tag("logo.png") %>
	<%= @page_title || "Editorial Interactiva" %>
  </div>
  <div id="columns">
  	<div id="opcion_menu" class="contenido no_anchor">
  		<div id="navigation">
  		  <%= render_navigation  %>
		</div>
  	</div>
  </div>